.container {
	width: 400px;
	margin: 0 auto;
	margin-top: 10%;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 20px rgb(0, 0, 0 / 20%), 0 5px 5px 0 rgb(0, 0, 0 / 24%);
	border-radius: 10px;
}

h1 {
	color: black;
	padding-top: 25px;
}

form {
	width: 100%;
	padding: 25px;
}

input::placeholder {
	color: green;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 15px;
	margin: 22px 0;
	display: inline-block;
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: 1px solid black;
	transition: 0.6s;
	background: transparent;
}

input[type=text]:focus {
	outline: none;
	border: 1.5px solid #11998e;
	border-radius: 45px;
}

input[type=password]:focus {
	outline: none;
	border: 1.5px solid #11998e;
	border-radius: 45px;
}

.btn-grad {
	background-image: linear-gradient(to right, #11998e 0%, #38ef7d 51%, #11998e 100%);
}

.btn-grad {
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	transition: 0.4s;
	background-size: 200% auto;
	color: black;
	border-radius: 45px;
	display: block;
	border: none;
	width: 250px;
	box-shadow: 0px 5px 20px #11998e;
}

.btn-grad:hover {
	background-position: right center;
	color: white;
	text-decoration: none;
	box-shadow: 0px 10px 40px #11998e;
}
